[general]
 case = "test_e923"
 macros = ["ARCHIVE_ROOT","SCRATCH","STATIC_DATA"]
 os_macros = ["USER", "HOME"]
 domain = "MYDOMAIN"
 realization = -1
 cnmexp = "DEOD"
 tstep = 60
 loglevel = "DEBUG"
 surfex = true
 csc = "AROME"
 bdint = "P1H"
 forecast_range = "P24H"
 output_interval_his = "P3H"
 output_interval_fp = "P30M"
 output_interval_sfx = "P3H"
 output_interval_sfx_sel = "P30M"

[vertical_levels]
nlev = 65
ahalf = []
bhalf = []

[domain]
name = "DOMAIN"
nimax = 50
njmax = 60
xloncen = 10.0
xlatcen = 60.0
xdx = 2500.0
xdy = 2500.0
ilone = 0
ilate = 0
xlon0 = 10.0
xlat0 = 60.0

[e923]

[system]
 wrk = "@SCRATCH@/@CASE@/@YYYY@@MM@@DD@_@HH@@mm@"
 archive = "@ARCHIVE_ROOT@/@CASE@/@YYYY@/@MM@/@DD@/@HH@/@mm@"
 bddir = "@SCRATCH@/@CASE@/BD"


[platform]
 ARCHIVE_ROOT = "@SCRATCH@/@CASE@/archive"
 SCRATCH = "/scratch/@USER@"
 STATIC_DATA = "/hpcperm/hlam/data"
 RRTM_DIR= "@STATIC_DATA@/rrtm/46h1"
 PGD_PATH = "/home/snh/Deode-Prototype/data_e923/"
 E923_PATH = "@ARCHIVE_ROOT@/climate/@DOMAIN@"
 CLIMATE_INPUT = "@STATIC_DATA@/climate"
 BINDIR = "@SCRATCH@/hm_home/cmp_intel/bin"

[general.times]
 basetime = "2000-01-01T00:00:00Z"
 validtime = "2000-01-02T00:00:00Z"
 start = "2020-08-15T00:00:00+00:00"
 end = "2020-08-16T21:00:00+00:00"
 cycle_length = "P3H"

[task]
[task.e923]
  wrapper = ""
  command = "/scratch/snh/hm_home/dev_CY46h1/bin/MASTERODB"

[task.forecast.input_data]
input_file = "/dev/null"

[task.forecast.output_data]
output = "archived_file"

[submission]
submit_types = ["background_vm", "background_hpc", "serial", "parallel"]
default_submit_type = "serial"
[submission.background_vm]
INTERPRETER = "#!/usr/bin/python3"
SCHOST = "localhost"
tasks = ["Background_vm"]

[submission.background_hpc]
SCHOST = "localhost"
tasks = ["Background_hpc", "UnitTest"]

[submission.serial]
SCHOST = "hpc"
[submission.serial.BATCH]
ACCOUNT = "#SBATCH -A msdeode"
WALLTIME = "#SBATCH --time=00:15:00"
QOS = "#SBATCH --qos=nf"
NODES = "#SBATCH --nodes=1"
NTASKS= "#SBATCH --ntasks=1"
[submission.serial.ENV]
 MODULE_INTEL= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'prgenv/intel')"
 MODULE_MKL= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'intel-mkl/19.0.5')"
 MODULE_OPENMPI= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'openmpi/4.1.1.1')"
 MODULE_NETCDF4= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'netcdf4/4.7.4')"
 MODULE_HDF5= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'hdf5/1.10.6')"
 MODULE_ECMWF= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'ecmwf-toolbox/2021.08.3.0')"
 MODULE_FFTW= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'fftw/3.3.9')"
 OMP_NUM_THREADS= "environ['OMP_NUM_THREADS'] = '1'"
 OMPI_MCA_btl= "environ['OMPI_MCA_btl'] = '^vader'"

[submission.parallel]
SCHOST = "hpc"
tasks = ["Forecast"]
[submission.parallel.BATCH]
ACCOUNT = "#SBATCH -A msdeode"
WALLTIME = "#SBATCH --time=00:10:00"

[submission.task_exceptions.Forecast.BATCH]
WALLTIME = "#SBATCH --time=00:15:00"
[submission.task_exceptions.Forecast.ENV]
MODULE = "print('My beautiful module')"

[troika]
config_file = "config.yml"
