[general]
case = "forecasttask"
macros = ["BINDIR", "SCRATCH", "DEODE_HOME", "NML"]
os_macros = ["USER", "HOME", "PWD"]
realization = -1
cnmexp = "ARPE"
tstep = 50
loglevel = "DEBUG"
surfex = true
csc = "AROME"
bdint = "P1H"
forecast_range = "P24H"
output_interval_his = "P3H"
output_interval_fp = "P30M"
output_interval_sfx = "P3H"
output_interval_sfx_sel = "P30M"

[vertical_levels]
nlev = 80
ahalf = []
bhalf = []

[domain]
name = "FRANXL0013"
nimax = 441
njmax = 421
xloncen = 7.0 
xlatcen = 45.0 
xdx = 1000.0 
xdy = 1000.0
ilone = 0
ilate = 0
xlon0 = 7.0
xlat0 = 45.0


[system]
wrk = "@SCRATCH@/rundir/@YYYY@/@MM@/@DD@/@HH@"
archive = "/home/snh02/work/cy46t1/arome/data/"



[platform]
SCRATCH = "/ec/res4/hpcperm/@USER@"
DEODE_HOME = "@PWD@"
NML = "/home/snh02/work/cy48t3/arome/namelist/fort.4_arome"
BINDIR = "/home/snh02/pack/48t3_fix.01.OMPIIFC2104.x/bin"



[general.times]
basetime = "2000-01-01T00:00:00Z"
validtime = "2000-01-02T00:00:00Z"
start = "2020-08-15T00:00:00+00:00"
end = "2020-08-16T21:00:00+00:00"
cycle_length = "P3H"

[task]
[task.forecast]
wrapper = "time"
command = "srun MASTERODB"

[task.forecast.input_data]
input_file = "/dev/null"

[task.forecast.output_data]
output = "archived_file"

[submission]
submit_types = ["background_vm", "background_hpc", "serial", "parallel"]
default_submit_type = "serial"
[submission.background_vm]
INTERPRETER = "#!/usr/bin/python3"
SCHOST = "localhost"
tasks = ["Background_vm"]

[submission.background_hpc]
SCHOST = "localhost"
tasks = ["Background_hpc"]

[submission.serial]
SCHOST = "hpc"
[submission.serial.BATCH]
ACCOUNT = "#SBATCH -A msdeode"
WALLTIME = "#SBATCH --time=00:05:00"

[submission.parallel]
SCHOST = "hpc"
tasks = ["Forecast"]
[submission.parallel.BATCH]
ACCOUNT = "#SBATCH -A msdeode"
WALLTIME = "#SBATCH --time=00:10:00"

[submission.task_exceptions.Forecast.BATCH]
WALLTIME = "#SBATCH --time=00:31:00"
QOS = "#SBATCH --qos=np"
NTASKS = "#SBATCH --ntasks=128"
CORES = "#SBATCH --cpus-per-task=4"
MULTITHREAD = "#SBATCH --hint=nomultithread"
NODES = "#SBATCH -N 4"
NAME = "#SBATCH --job-name=fcast_task"
ACCOUNT = "#SBATCH -A msdeode"

[submission.task_exceptions.Forecast.ENV]
MODULE = "print('My beautiful module')"
OS = "import os"
OMP_PLACES = "os.environ['OMP_PLACES'] = 'threads'"
OMP_NUM_THREADS = "os.environ['OMP_NUM_THREADS'] = '8'"
KMP_STACKSIZE = "os.environ['KMP_STACKSIZE'] = '2G'"
KMP_MONITOR_STACKSIZE = "os.environ['KMP_MONITOR_STACKSIZE'] = '2G'"
DR_HOOK = "os.environ['DR_HOOK'] = '0'"
DR_HOOK_IGNORE_SIGNALS = "os.environ['DR_HOOK_IGNORE_SIGNALS'] = '-1'"
DR_HOOK_SILENT = "os.environ['DR_HOOK_SILENT'] = '1'"
DR_HOOK_OPT = "os.environ['DR_HOOK_OPT'] = 'prof'"
DR_HOOK_NOT_MPI = "os.environ['DR_HOOK_NOT_MPI'] = '1'"
MPL_MBX_SIZE = "os.environ['MPL_MBX_SIZE'] = '2048000000'"
EC_PROFILE_HEAP = "os.environ['EC_PROFILE_HEAP'] = '0'"
EC_MPI_ATEXIT = "os.environ['EC_MPI_ATEXIT'] = '0'"
ULIMIT = "os.system('ulimit -s unlimited')"
MODULE_INTEL = "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'intel/2021.4.0')"
MODULE_HPCX = "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'hpcx-openmpi/2.9.0')"
MODULE_MKL = "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'intel-mkl/19.0.5')"
MODULE_GCC = "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read()); module('load', 'gcc/8.5.0')"
PYTHONPATH = "os.environ['PYTHONPATH'] = '@HOME@/.local/lib/python3.8/site-packages/:/perm/rme/python3/site-packages/lib/python3.6/site-packages'"

[troika]
config_file = "@DEODE_HOME@/config.yml"
