[general]
 case = "deode_case"
 os_macros = ["USER", "HOME", "PWD"]
 realization = -1
 cnmexp = "HARM"
 tstep = 60
 loglevel = "DEBUG"
 surfex = true
 csc = "AROME"
 bdint = "PT3H"
 bdcycle = "PT12H"
 forecast_range = "PT12H"
 output_interval_his = "PT1H"
 output_interval_fp = "PT1H"
 output_interval_sfx = "PT1H"
 output_interval_sfx_sel = "PT1H"
 keep_workdirs = false

[vertical_levels]
nlev = 65
ahalf = []
bhalf = []

[domain]
name = "DEMO_100_2500m"
nimax = 89
njmax = 89
xloncen = 4.9
xlatcen = 51.967
xdx = 2500.0
xdy = 2500.0
ilone = 11
ilate = 11
xlon0 = 0.0
xlat0 = 52.5

[system]
 wrk = "@SCRATCH@/deode/@CASE@/@YYYY@@MM@@DD@_@HH@@mm@"
 archive = "@ARCHIVE_ROOT@/@YYYY@/@MM@/@DD@/@HH@/"
 bddir = "/scratch/sism/DEOL/@YYYY@/@MM@/@DD@/@HH@"
 bdfile_template = "PFIFSDEOL+@LLLL@"
 climdir = "@SCRATCH@/deode/@CASE@/climate/@DOMAIN@"
 bdclimdir = "/home/snh02/work/dev-CY46h1_deode/climate/DEODE_LARGE"
 bindir = "/home/snh02/work/dev-CY46h1_deode/bin"

[platform]
 deode_home = "set-by-the-system"
 archive_root = "@SCRATCH@/deode/@CASE@/archive"
 scratch = "/scratch/@USER@"
 rrtm_dir = "@STATIC_DATA@/rrtm/46h1"
 e923_data = "@STATIC_DATA@/climate/E923_DATA"
 e927_climdir = "/home/snh02/work/dev-CY46h1_deode/climate/@DOMAIN@"
 namelists = "@DEODE_HOME@/nam"
 static_data = "/hpcperm/hlam/data"
 forecast_namelist = "@DEODE_HOME@/nam/fort.4_arome"
 forecast_data = "/home/snh02/work/dev-CY46h1_deode/initial/@YYYY@@MM@@DD@_@HH@"
 climdata = "/hpcperm/hlam/data/climate"
 ecosg_data_path = "@CLIMDATA@/ECOCLIMAP-SG"
 gmted2010_data_path = "@CLIMDATA@/GMTED2010"
 gmted2010_data = "/home/snh02/work/dev-CY46h1_deode/climate/input"
 soilgrid_data_path = "@CLIMDATA@/SOILGRID"
 soilgrid_data = "/home/snh02/work/dev-CY46h1_deode/climate/input"
 pgd_data_path = "@CLIMDATA@/PGD"
 prep_input_file = "/scratch/snh/hm_home/demo/ECMWF/archive/2023/02/18/18/fc20230218_18+006"

[general.times]
 basetime = "2023-02-19T00:00:00Z"
 validtime = "2023-02-19T00:00:00Z"
 start = "2023-02-19T00:00:00Z"
 end = "2023-02-19T03:00:00Z"
 cycle_length = "PT3H"

[task]
 wrapper = "srun"
[task.forecast]
 wrapper = "time srun"
[task.e923]
 wrapper = "srun"
[task.e927]
 wrapper = "srun"
[task.PgdUpdate]
 wrapper = "srun"

[submission]
submit_types = ["background_vm", "background_hpc", "serial", "parallel"]
default_submit_type = "serial"
[submission.background_vm]
INTERPRETER = "#!/usr/bin/python3"
SCHOST = "localhost"
tasks = ["Background_vm"]

[submission.background_hpc]
SCHOST = "localhost"
tasks = ["Background_hpc", "UnitTest"]

[submission.serial]
 SCHOST = "hpc"
[submission.serial.BATCH]
 ACCOUNT = "#SBATCH -A msdeode"
 WALLTIME = "#SBATCH --time=00:15:00"
 QOS = "#SBATCH --qos=nf"
 NODES = "#SBATCH --nodes=1"
 NTASKS= "#SBATCH --ntasks=1"
[submission.serial.ENV]
 OS = "import os"
 MODULE_ENV = "module_env='/usr/local/apps/lmod/8.6.8/init/env_modules_python.py'"
 MODULE_INTEL= "exec(open(module_env).read()); module('load', 'prgenv/intel')"
 MODULE_MKL= "exec(open(module_env).read()); module('load', 'intel-mkl/19.0.5')"
 MODULE_OPENMPI= "exec(open(module_env).read()); module('load', 'openmpi/4.1.1.1')"
 MODULE_NETCDF4= "exec(open(module_env).read()); module('load', 'netcdf4/4.7.4')"
 MODULE_HDF5= "exec(open(module_env).read()); module('load', 'hdf5/1.10.6')"
 MODULE_ECMWF= "exec(open(module_env).read()); module('load', 'ecmwf-toolbox/2021.08.3.0')"
 MODULE_FFTW= "exec(open(module_env).read()); module('load', 'fftw/3.3.9')"
 OMP_NUM_THREADS= "os.environ['OMP_NUM_THREADS'] = '1'"
 OMPI_MCA_btl= "os.environ['OMPI_MCA_btl'] = '^vader'"

[submission.parallel]
 SCHOST = "hpc"
 tasks = ["Forecast","e927"]
[submission.parallel.BATCH]
 ACCOUNT = "#SBATCH -A msdeode"
 WALLTIME = "#SBATCH --time=00:10:00"
 QOS = "#SBATCH --qos=np"
[submission.parallel.ENV]
 OS = "import os"
 MODULE_ENV= "exec(open('/usr/local/apps/lmod/8.6.8/init/env_modules_python.py').read())"
 MODULE_INTEL= "module('load', 'prgenv/intel')"
 MODULE_MKL= "module('load', 'intel-mkl/19.0.5')"
 MODULE_OPENMPI= "module('load', 'openmpi/4.1.1.1')"
 MODULE_NETCDF4= "module('load', 'netcdf4/4.7.4')"
 MODULE_HDF5= "module('load', 'hdf5/1.10.6')"
 MODULE_ECMWF= "module('load', 'ecmwf-toolbox/2021.08.3.0')"
 MODULE_FFTW= "module('load', 'fftw/3.3.9')"
 OMP_NUM_THREADS= "os.environ['OMP_NUM_THREADS'] = '1'"
 DR_HOOK = "os.environ['DR_HOOK'] = '1'"
 OMPI_MCA_btl= "os.environ['OMPI_MCA_btl'] = '^vader'"

[submission.task_exceptions.e927.BATCH]
 NAME = "#SBATCH --job-name=e927"
 NODES = "#SBATCH --nodes=1"
 NTASKS = "#SBATCH --ntasks=16"

[submission.task_exceptions.Forecast.BATCH]
 NAME = "#SBATCH --job-name=Forecast"
 NODES = "#SBATCH --nodes=2"
 NTASKS = "#SBATCH --ntasks=256"
 WALLTIME = "#SBATCH --time=00:30:00"

[troika]
config_file = "@DEODE_HOME@/config/troika.yml"

################ Pysurfex ##############################################################
[SURFEX]
[SURFEX.IO]
CSURF_FILETYPE = "FA"
CTIMESERIES_FILETYPE = "FA"
CFORCING_FILETYPE = "NETCDF"
XTSTEP = 600
XTSTEP_OUTPUT = 21600.0
LSPLIT_PATCH = true
LSELECT = true

[SURFEX.COVER]
YCOVER = "ecosg_final_map.dir"
SG = true
H_TREE = "new_ht_c.dir"
ALBNIR_SOIL = "ALB_SAT_NI_@MM@@CDD@_c.dir"
ALBNIR_VEG = "ALB_SAT_NI_@MM@@CDD@_c.dir"
ALBVIS_SOIL = "ALB_SAT_VI_@MM@@CDD@_c.dir"
ALBVIS_VEG = "ALB_SAT_VI_@MM@@CDD@_c.dir"
LAI = "LAI_SAT_@MM@@CDD@_c.dir"

[SURFEX.ZS]
YZS = "gmted2010.dir"

[SURFEX.PARAMETERS]
XRIMAX = 0.2

[SURFEX.TILES]
SEA = "SEAFLX"
INLAND_WATER = "FLAKE"
NATURE = "ISBA"
TOWN = "TEB"

[SURFEX.SEA]
ICE = "NONE"
PERTFLUX = false
LVOLATILE_SIC = false

[SURFEX.INLAND_WATER]

[SURFEX.FLAKE]
LCLIM = true
LDB_VERSION = "3.0"

[SURFEX.ISBA]
SCHEME = "3-L"
NPATCH = 2
MEB = false
CANOPY = false
SNOW = "D95"
YSOC_TOP = "soc_top.dir"
YSOC_SUB = "soc_sub.dir"
YSAND = "SAND_SOILGRID.dir"
YCLAY = "CLAY_SOILGRID.dir"
PERTSURF = false
XCGMAX = 2e-5
XCSMAX = 0.0002

[SURFEX.SSO]
SCHEME = "NONE"

[SURFEX.TREEDRAG]
TREEDATA_FILE = ""
XSCALE_H_TREE = 1.0
XALLEN_TERM = 2.5
XGRASS_H_DNM = 3.0
FAKETREES = false

[SURFEX.TOWN]
LTOWN_TO_ROCK = false

[SURFEX.TEB]

[SURFEX.ASSIM]
CFILE_FORMAT_LSM = "ASCII"

[SURFEX.ASSIM.SCHEMES]
SEA = "NONE"
INLAND_WATER = "NONE"
ISBA = "NONE"
TEB = "NONE"

[SURFEX.ASSIM.OBS]
LOBSHEADER = false
CFILE_FORMAT_OBS = "ASCII"
LOBSNAT = false
COBS_M = [ "T2M", "HU2M", "WG2 ", "LAI", "SWE",]
NNCO = [ 1, 1, 0, 0, 1,]
XERROBS_M = [ 1.0, 0.1, 0.1, 0.1, 20.0,]
LSWE = false
NOBSTYPE_M = 2

[SURFEX.ASSIM.SEA]
CFILE_FORMAT_SST = "ASCII"
LREAD_SST_FROM_FILE = true
LEXTRAP_SEA = false
LECSST = true

[SURFEX.ASSIM.INLAND_WATER]
LWATERTG2 = false
LEXTRAP_WATER = false

[SURFEX.ASSIM.ISBA]
UPDATE_SNOW_CYCLES = []
LSWEPSINI = false
XSWEPSINI = 1000.0
LSWEPSMIN = false
XSWEPSMIN = 500.0
LPATCH1 = false

[SURFEX.ASSIM.ISBA.OI]
CFILE_FORMAT_CLIM = "ASCII"
CFILE_FORMAT_FG = "ASCII"
COEFFS = "POLYNOMES_ISBA"
XSIGT2MO = 1.0
XSIGH2MO = 0.1

[SURFEX.ASSIM.ISBA.EKF]
NNCV = [ 0, 1, 0, 1,]
XSIGMA_M = [ 2.0, 2.0, 0.1, 0.15,]
CVAR_M = [ "TG1", "TG2", "WG1", "WG2",]
XTPRT_M = [ 0.0001, 0.0001, 1e-5, 1e-5,]
XSCALE_Q = 0.125
EVOLVE_B = false
LLINCHECK = true
XALPHA = 0.2

[SURFEX.ASSIM.ISBA.ENKF]
NNCV = [ 1, 1, 1, 1, 1, 1,]
CVAR_M = [ "TG1", "TG2", "TG3", "WG2", "WG3", "WG4",]
NENS_M = 16
LPASSIVE_MODE = false
