[general]
data_rootdir = "SOME_PATH"
outdir = "/tmp/deode_output"
macros = []
os_macros = ["USER", "HOME"]
basetime = "2000010100"
validtime = "2000010200"
domain = "MYDOMAIN"
realization = -1
cnmexp = "DEOD"
tstep = 60
loglevel = "INFO"

[system]
wrk = "/tmp/@YYYY@@MM@@DD@_@HH@"

[general.assimilation_times]
start = "2020-08-15T00:00:00+00:00"
end = "2020-08-16T21:00:00+00:00"
cycle_length = "3H"

[task]
[task.forecast]
wrapper = "time"
command = "echo Hello world && touch output"

[task.forecast.input_data]
input_file = "/dev/null"

[task.forecast.output_data]
output = "archived_file"

