name: ci-hpc

on:
  push:
    branches:
      - master
      - develop

jobs:

  call-workflow-atos:
    uses: ./.github/workflows/reuseable-workflow-atos.yaml
    secrets: inherit

  call-workflow-lumi:
    uses: ./.github/workflows/reuseable-workflow-lumi.yaml
    secrets: inherit
