name: ci-hpc

on:
  push:
    branches:
      - master
      - develop

  # Trigger the workflow on pull request
  pull_request: ~

jobs:

  call-workflow-atos:
    uses: ./.github/workflows/reuseable-workflow-atos.yaml
    secrets: inherit

  call-workflow-lumi:
    uses: ./.github/workflows/reuseable-workflow-lumi.yaml
    secrets: inherit
