#.github/workflows/linting.yaml
name: Linting
on:
  pull_request:
    branches:
      - master
      - develop
  push:
    branches:
      - '**' # Every branch

env:
  POETRY_VIRTUALENVS_CREATE: "true"
  POETRY_VIRTUALENVS_IN_PROJECT: "true"

jobs:

  default:
    name: "${{ matrix.step.env }} '${{ matrix.step.command }}' (@py${{ matrix.step.python }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        step: [
          {env: "main", python: "3.8", extras: "", command: "flakeheaven lint"},
        ]
    container:
      image: python:${{ matrix.step.python }}-bullseye
      env:
        COVERAGE_FILE: ".coverage.${{ matrix.step.env }}.${{ matrix.step.python }}"
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install flakeheaven
        run: pip install flakeheaven
      - name: Run command
        run: |
          ${{ matrix.step.command }}
