on:
    workflow_call:
      secrets:
        HPC_CI_SSH_USER:
          required: true
        GH_REPO_READ_TOKEN:
          required: true
      inputs:
        configuration_name:
          required: true
          type: string


jobs:
  test-install-deode-workflow-atos:
    runs-on: [hpc]
    continue-on-error: false
    steps:


      - name: Test installation phase on Atos
        id: test-install-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
              pwd
              git clone {{ repo }}
              cd Deode-Workflow

              event_name={{ github_event_name }}

              #checkout the push branch, ref is github.sha. for workflow_dispatch github.sha is last commit on the GITHUB_REF branch or tag, that received dispatch
              if [[ $event_name == 'workflow_dispatch' ||  $event_name == 'push' ]]; then git checkout {{ ref }}; fi

              #fetch locally the pull request branch and switch the active brantch to it
              if [[ $event_name == 'pull_request' ]]; then
                git fetch origin pull/{{ pull_request_number }}/head:{{ pull_request_branch_name }}; \
                git switch {{ pull_request_branch_name }}; \
              fi

              module load python3/3.10.10-01
              export POETRY_HOME=$PWD/opt/poetry
              # Create a virtual environment to contain poetry
              python3 -m venv $POETRY_HOME
              $POETRY_HOME/bin/python -m pip install poetry==2.3.0
              $POETRY_HOME/bin/poetry --version
              export PATH=$POETRY_HOME/bin:$PATH
              $POETRY_HOME/bin/poetry install --only main
              $POETRY_HOME/bin/poetry run deode -h
          template_data: |
              repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
              ref: ${{ github.event.pull_request.head.sha || github.sha }}
              github_event_name: ${{ github.event_name }}
              pull_request_number: ${{ github.event.number }}
              pull_request_branch_name: ${{ github.head_ref }}
          sbatch_options: |
              #SBATCH --job-name=test_deode_workflow
              #SBATCH --time=00:15:00


  build-deode-workflow-atos:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: [hpc]
    needs: test-install-deode-workflow-atos
    steps:

      - name: Build Deode-Workflow Wheel
        id: build-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
            pwd
            git clone {{ repo }}
            cd Deode-Workflow
            git checkout {{ ref }}
            module load python3/3.10.10-01
            export POETRY_HOME=$PWD/opt/poetry
            # Create a virtual environment to contain poetry
            python3 -m venv $POETRY_HOME
            $POETRY_HOME/bin/python -m pip install poetry==2.3.0
            $POETRY_HOME/bin/poetry --version
            export PATH=$POETRY_HOME/bin:$PATH
            $POETRY_HOME/bin/poetry build -f wheel
            tar -cf deode_workflow-${{ github.sha }}.tar.gz dist pyproject.toml
            mv deode_workflow-${{ github.sha }}.tar.gz $SCRATCH/deode_workflow-${{ github.sha }}.tar.gz
          template_data: |
            repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
            ref: ${{ github.event.pull_request.head.sha || github.sha }}
          sbatch_options: |
            #SBATCH --job-name=build_deode_workflow
            #SBATCH --time=00:20:00

  install-deode-workflow-atos:
    runs-on: [hpc]
    needs: build-deode-workflow-atos
    steps:

      - name: Install Deode-Workflow Wheel
        id: install-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
            cp $SCRATCH/deode_workflow-${{ github.sha }}.tar.gz .
            tar -xf deode_workflow-${{ github.sha }}.tar.gz
            module load python3/3.10.10-01
            python3 -m venv .venv
            source .venv/bin/activate
            export DEODEVERSION=$(grep -A 5 '\[tool.poetry\]' pyproject.toml | grep 'version =' | awk -F\" '{print $2}')
            python3 -m pip install dist/deode-$DEODEVERSION-py3-none-any.whl
            deode -h
          sbatch_options: |
            #SBATCH --job-name=install_deode_workflow
            #SBATCH --time=00:05:00
