on:
    workflow_call:
      secrets:
        HPC_CI_SSH_USER:
          required: true
        GH_REPO_READ_TOKEN:
          required: true

jobs:
  test-install-deode-workflow-atos:
    runs-on: [hpc]
    steps:

      - name: Test installation phase on Atos
        id: test-intstall-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
              pwd
              git clone {{ repo }}
              cd Deode-Workflow
              git checkout {{ ref }}
              module load python3/3.10.10-01
              export POETRY_HOME=$PWD/opt/poetry
              # Create a virtual environment to contain poetry
              python3 -m venv $POETRY_HOME
              $POETRY_HOME/bin/python -m pip install poetry==1.8.3
              $POETRY_HOME/bin/poetry --version
              export PATH=$POETRY_HOME/bin:$PATH
              $POETRY_HOME/bin/poetry install --only main
              $POETRY_HOME/bin/poetry run deode -h
          template_data: |
              repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
              ref: ${{ github.event.pull_request.head.sha || github.sha }}
          sbatch_options: |
              #SBATCH --job-name=test_deode_workflow
              #SBATCH --time=00:15:00
              #SBATCH --account=msdeode


  build-deode-workflow-atos:
    runs-on: [hpc]
    needs: test-install-deode-workflow-atos
    steps:

      - name: Build Deode-Workflow Wheel
        id: build-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
            pwd
            git clone {{ repo }}
            cd Deode-Workflow
            git checkout {{ ref }}
            module load python3/3.10.10-01
            export POETRY_HOME=$PWD/opt/poetry
            # Create a virtual environment to contain poetry
            python3 -m venv $POETRY_HOME
            $POETRY_HOME/bin/python -m pip install poetry==1.8.3
            $POETRY_HOME/bin/poetry --version
            export PATH=$POETRY_HOME/bin:$PATH
            $POETRY_HOME/bin/poetry build -f wheel
            tar -cf deode_workflow-${{ github.sha }}.tar.gz dist pyproject.toml
            mv deode_workflow-${{ github.sha }}.tar.gz $SCRATCH/deode_workflow-${{ github.sha }}.tar.gz
          template_data: |
            repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
            ref: ${{ github.event.pull_request.head.sha || github.sha }}
          sbatch_options: |
            #SBATCH --job-name=build_deode_workflow
            #SBATCH --time=00:20:00
            #SBATCH --account=msdeode

  install-deode-workflow-atos:
    runs-on: [hpc]
    needs: build-deode-workflow-atos
    steps:

      - name: Install Deode-Workflow Wheel
        id: install-deode-workflow-atos
        uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
        with:
          troika_user: ${{ secrets.HPC_CI_SSH_USER }}
          template: |
            cp $SCRATCH/deode_workflow-${{ github.sha }}.tar.gz .
            tar -xf deode_workflow-${{ github.sha }}.tar.gz
            module load python3/3.10.10-01
            #module load ecflow/5.11.4
            #module load gdal/3.6.2
            python3 -m venv .venv
            source .venv/bin/activate
            export DEODEVERSION=$(grep -A 5 '\[tool.poetry\]' pyproject.toml | grep 'version =' | awk -F\" '{print $2}')
            python3 -m pip install dist/deode-$DEODEVERSION-py3-none-any.whl
            deode -h
          sbatch_options: |
            #SBATCH --job-name=install_deode_workflow
            #SBATCH --time=00:05:00
            #SBATCH --account=msdeode
