on:
    workflow_call:
      secrets:
        HPC_CI_SSH_USER:
          required: true
        GH_REPO_READ_TOKEN:
          required: true

jobs:

    test-install-deode-workflow-lumi:
        runs-on: [hpc]
        steps:

          - name: Test installation phase on LUMI
            id: test-install-deode-workflow-lumi
            uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
            with:
              troika_user: ${{ secrets.HPC_LUMI_CI_SSH_USER }}
              site: lumi
              output_dir: /scratch/project_465000527/github-actions
              workdir: /scratch/project_465000527/github-actions
              template: |
                pwd
                git clone {{ repo }} Deode-Workflow-${{ github.sha }}
                cd Deode-Workflow-${{ github.sha }}
                git checkout {{ ref }}
                module --force purge
                module load cray-python/3.10.10
                export POETRY_HOME=$PWD/opt/poetry
                # Create a virtual environment to contain poetry
                python3 -m venv $POETRY_HOME
                $POETRY_HOME/bin/python -m pip install poetry==1.8.3
                $POETRY_HOME/bin/poetry --version
                export PATH=$POETRY_HOME/bin:$PATH
                $POETRY_HOME/bin/poetry install --only main
                $POETRY_HOME/bin/poetry run deode -h
                
              template_data: |
                repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
                ref: ${{ github.event.pull_request.head.sha || github.sha }}
              sbatch_options: |
                #SBATCH --job-name=install_deode_workflow
                #SBATCH --time=00:30:00
                #SBATCH --account=project_465000527
                #SBATCH --partition=small
                #SBATCH --mem=12G

    build-install-deode-workflow-lumi:
        runs-on: [hpc]
        needs: test-install-deode-workflow-lumi
        steps:

          - name: Build Deode-Workflow on LUMI
            id: build-deode-workflow-lumi
            uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
            with:
              troika_user: ${{ secrets.HPC_LUMI_CI_SSH_USER }}
              site: lumi
              output_dir: /scratch/project_465000527/github-actions
              workdir: /scratch/project_465000527/github-actions
              template: |
                pwd
                git clone {{ repo }} Deode-Workflow-${{ github.sha }}-build
                cd Deode-Workflow-${{ github.sha }}-build
                git checkout {{ ref }}
                module --force purge
                module load cray-python/3.10.10
                export POETRY_HOME=$PWD/opt/poetry
                # Create a virtual environment to contain poetry
                python3 -m venv $POETRY_HOME
                $POETRY_HOME/bin/python -m pip install poetry==1.8.3
                $POETRY_HOME/bin/poetry --version
                export PATH=$POETRY_HOME/bin:$PATH
                $POETRY_HOME/bin/poetry build -f wheel
                tar -cf deode_workflow-${{ github.sha }}.tar.gz dist pyproject.toml
                mv deode_workflow-${{ github.sha }}.tar.gz /scratch/project_465000527/github-actions/deode_workflow-${{ github.sha }}.tar.gz
              template_data: |
                repo: https://${{ secrets.GH_REPO_READ_TOKEN }}@github.com/${{ github.repository }}.git
                ref: ${{ github.event.pull_request.head.sha || github.sha }}
              sbatch_options: |
                #SBATCH --job-name=build_deode_workflow
                #SBATCH --time=00:45:00
                #SBATCH --account=project_465000527
                #SBATCH --partition=small
                #SBATCH --mem=12G

    install-deode-workflow-lumi:
        runs-on: [hpc]
        needs: build-install-deode-workflow-lumi
        steps:

          - name: Install Deode-Workflow on LUMI
            id: install-deode-workflow-lumi
            uses: ecmwf-actions/reusable-workflows/ci-hpc-generic@main
            with:
              troika_user: ${{ secrets.HPC_LUMI_CI_SSH_USER }}
              site: lumi
              output_dir: /scratch/project_465000527/github-actions
              workdir: /scratch/project_465000527/github-actions
              template: |
                mkdir -p Deode-Workflow-${{ github.sha }}-install
                cd Deode-Workflow-${{ github.sha }}-install
                cp /scratch/project_465000527/github-actions/deode_workflow-${{ github.sha }}.tar.gz .
                tar -xf deode_workflow-${{ github.sha }}.tar.gz
                module --force purge
                module load cray-python/3.10.10
                python3 -m venv .venv
                source .venv/bin/activate
                export DEODEVERSION=$(grep -A 5 '\[tool.poetry\]' pyproject.toml | grep 'version =' | awk -F\" '{print $2}')
                python3 -m pip install dist/deode-$DEODEVERSION-py3-none-any.whl
                deode -h
              sbatch_options: |
                #SBATCH --job-name=build_deode_workflow
                #SBATCH --time=00:30:00
                #SBATCH --account=project_465000527
                #SBATCH --partition=small
                #SBATCH --mem=12G
